.deletealert .fa{
	color: #f46a11;
	
}
.fa-circle-o-notch{
	font-size: 16px !important;
}
.deletealert .fa-exclamation-triangle{font-size: 61px;}
.x_title {
    /*border-bottom: 2px solid #E6E9ED;*/
    /*padding: 1px 5px 2px;*/
    border-bottom: 2px solid #337ab7;
    padding-right: 5px;
    text-align:right;
}
.btn.btn-primary.add-btn{
	border-radius:5px 5px 0px 0px;
	padding: 9px 15px;
	margin-bottom:10px;
}
.row.plan-table{padding-bottom:20px;}
.table thead tr{
	background-color: #337ab7;
	color:#fff;
}
.add-modal .modal-header{
	background-color: #337ab7;
	color:#fff;
}
.add-modal .close{
 	color:#fff;
}
.modal-dialog {
    /* width: 50% !important; */
    text-align: left !important;
}
.table th, .table td{text-align:center;}

#bootstrap-table_wrapper{padding-top:10px;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
    
}
#example1_wrapper, #example_wrapper{padding-top:10px;}

.list-inline {	list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #2162a3;
    border-radius: 5px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    float: left !important;
	}
	
.btn-default {
    color: #fff !important;
    background-color: #2162a3 !important;
    border-color: #2162a3 !important;
}
.btn-default:hover {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}